<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="AppId" value="1241859685905370" xdt:Transform="Remove"/>
    <add key="AppSecret" value="fe6e455d13160827e97b876977e53838" xdt:Transform="Remove"/>
    <add xdt:Transform="Insert" key="AppId" value="1241339715957367"/>
    <add xdt:Transform="Insert" key="AppSecret" value="1ddca4a1ee69264bd82058708c4081e0"/>
  </appSettings>
  <connectionStrings>
    <add name="MyContactsContext" xdt:Transform ="Remove"/>
    
    <add name="MyContactsContext" xdt:Transform="Insert"
         connectionString="Server=8e5772fa-0da9-466d-b5e5-a6ee00e525bb.sqlserver.sequelizer.com;Database=db8e5772fa0da9466db5e5a6ee00e525bb;User Id=meeoitbpuqlouqch;Password=tUrJ3qV5WB5URL3uLw3nnCV75Fccb8VXPTA7DjRnvnUYYq2mTf6yT3dY8tNuoT3W;"
         providerName="System.Data.SqlClient" />
    
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=8e5772fa-0da9-466d-b5e5-a6ee00e525bb.sqlserver.sequelizer.com;Database=db8e5772fa0da9466db5e5a6ee00e525bb;User Id=meeoitbpuqlouqch;Password=tUrJ3qV5WB5URL3uLw3nnCV75Fccb8VXPTA7DjRnvnUYYq2mTf6yT3dY8tNuoT3W;"
         providerName="System.Data.SqlClient"/>

    
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>
