@{
    ViewBag.Title = "Get in touch!";
    ViewBag.Message = "George E. Hatzigeorgiou";
}
<img src="~/Content/images/george-coding.jpg" style="max-width: 50%; float: right;"/>
<h2 style="margin-top:30px">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    284 Glen Circle<br />
    Troy, VA 22974<br />
</address>

<address>
    <strong>Phone:</strong> 941.301.5470<br />
    <strong>Email:</strong>   <a href="mailto:contact@georgehatzigeorgiou.com">contact@georgehatzigeorgiou.com</a><br />
    <strong>Git Hub:</strong> <a href="https://github.com/gehatz"> github.com/gehatz</a>
</address>

<address>
    <strong>Skype:</strong> george.hatzigeorgiou<br/>
    <strong>LinkedIn:</strong> linkedin.com/in/george-hatzigeorgiou
</address>

<p><h4>Socialize:</h4></p>

<address>
    <strong>Facebook:</strong> facebook.com/ghatzigeorgiou1<br />
    <strong>Twitter:</strong> twitter.com/gehatz<br />
    <strong>Instagram:</strong> instagram.com/gehatz<br />
</address>